* {
    font-size: 1.2rem;
    font-family: Quicksand;
    font-weight: 500;
    background-color: #ededed;
    margin: 0;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
}

html {
    scroll-behavior:smooth
}

a {
    font-weight: 600;
}

#home-page {
    grid-area: home-page;
    text-align: center;
    background-color: #425339;
}

#github {
    grid-area: github;
    text-align: center;
    background-color: #425339;
}

#title {
    grid-area: title;
    text-align: center;
    font-size: 1.2rem;
    background-color: #425339;
}

#old-web-page {
    grid-area: old-web-page;
    text-align: center;
    background-color: #425339;
}

#menu {
    display: grid;
    grid-template-columns: 10vw 18vw auto 26vw;
    grid-template-rows: 2rem;
    grid-template-areas: 
        "home-page github title old-web-page";
    position: sticky;
    top: 0;
    background-color: #425339;
    color: #ededed;
    padding: 1.2rem;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 2px;
}

#menu a {
    background-color: #425339;
}

#menu a:link {
    color: #ededed;
    text-decoration: none;
}
#menu a:visited {
    color: #ededed;
}
#menu a:focus {
    border: 1px solid black;
}
#menu a:hover {
    color: #b8b8b8;
}
#menu a:active {
    color: #ededed;
}

#intro {
    background-color: #4f6344;
    color: #ededed;
    padding: 1rem;
    display: flex;
    align-items: center;
}

#quickIntro {
    background-color: #4f6344;
    color: #ededed;
    margin: 3rem;
    margin-top: 0.5rem;
    padding: 3rem;
    text-align: center;
}

#quickIntro b, #quickIntro h1 {
    background-color: #4f6344;
    color: #ededed;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: normal;
    letter-spacing: 1px;
}

#introButtons {
    background-color: #4f6344;
    color: #ededed;
    margin-top: 2rem;
}

#gameResume, #webResume {
    background-color: #ededed;
    margin: 1rem 5rem;
    border-color: #ededed;
    border-radius: 0.25rem;
    box-shadow: black 2px 2px;
}

#gameResume {
    margin-top: 3rem;
}

#gameResume a, #webResume a {
    display: block;
    color: black;
    border-radius: 0.25rem;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
}

#personalPicture {
    width: 40%;
    margin: 1rem 0 1rem 3rem;
}

#aboutMe {
    margin: 3rem 7rem;
}

#aboutMe h1 {
    color: #4f6344;
    text-align: center;
    font-weight: bold;
}

#aboutMeText {
    display: flex;
    align-items: center;
    text-align: center;
}

#aboutMe h1 {
    font-size: xx-large;
    margin: 1rem;
}

.skills {
    margin: 1rem;
    color: rgb(70, 70, 70);
}

.skills p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

h3 {
    font-weight: 600;
}

#helloKitty {
    width: 70%;
    border-radius: 50%;
}

#gamesCarousel {
    background-color: #4f6344;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gamesCarousel h1 {
    color: #ededed;
    background-color: #4f6344;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    padding: 2rem 0;
    letter-spacing: 2px;
}

#imageWrapper {
    background-color: #4f6344;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span[data-image] {
    cursor: pointer;
}

#placeholder {
    max-width: 80%;
}

#gamesPortfolio {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gamesPortfolio h1 {
    color: #4f6344;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

#projects {
    max-width: 53%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgb(70, 70, 70);
}

h3 {
    font-size: 1.2rem;
}

.githubLinks, #peacelandLink, #quothTheRavenLink {
    background-color: black;
    margin: 1.7rem 0;
    width: 48%;
}

#peacelandLink {
    width: 49%
}

#quothTheRavenLink {
    width: 34%;
}

.githubLinks a, #peacelandLink a, #quothTheRavenLink a {
    display: block;
    background-color: black;
    color: #ededed;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem 2rem 1rem 2rem;
}

.githubLinks a:link, #peacelandLink a:link, #quothTheRavenLink a:link {
    color: #ededed;
    text-decoration: none;
}
.githubLinks a:visited, #peacelandLink a:visited, #quothTheRavenLink a:visited {
    color: #ededed;
}
.githubLinks a:focus, #peacelandLink a:focus, #quothTheRavenLink a:focus {
    border: 1px solid rgb(70, 70, 70);
}
.githubLinks a:hover, #peacelandLink a:hover, #quothTheRavenLink a:hover {
    color: #b8b8b8;
}
.githubLinks a:active, #peacelandLink a:active, #quothTheRavenLink a:active {
    color: #ededed;
}

#contactMe {
    padding: 2rem 10rem 4rem;
    background-color: white;
    font-size: 0.9rem;
}

#contactMe p {
    line-height: 1.7rem;
    font-size: 0.9rem;
}

#contactMe h1 {
    color: #4f6344;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

#contactMe h3 {
    font-size: 1.2rem;
}

#contactMe h1, #contactMe h3, #contactMe p {
    background-color: white;
}

#linkedIn {
    margin: 1.7rem 0;
    width: 16%;
    border-radius: 1.5rem;
}

#linkedIn a {
    display: block;
    background-color: rgb(40, 40, 170);
    border-radius: 1.5rem;
    color: #ededed;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1rem 2rem 1rem 2rem;
}

#linkedIn a:link {
    color: #ededed;
    text-decoration: none;
}
#linkedIn a:visited {
    color: #ededed;
}
#linkedIn a:focus {
    border: 1px solid rgb(70, 70, 70);
}
#linkedIn a:hover {
    color: #b8b8b8;
}
#linkedIn a:active {
    color: #ededed;
}

footer {
    text-align: center;
    margin: 2rem 0 1rem 0;
}