* {
    font-size: 1.2rem;
    font-family: Quicksand;
    background-color: #ededed;
    margin: 0;
}

html {
    scroll-behavior:smooth
}

#home-page {
    grid-area: home-page;
    text-align: center;
    background-color: #425339;
}

#github {
    grid-area: github;
    text-align: center;
    background-color: #425339;
}

#title {
    grid-area: title;
    text-align: center;
    font-size: 1.2rem;
    background-color: #425339;
}

#old-web-page {
    grid-area: old-web-page;
    text-align: center;
    background-color: #425339;
}

#menu {
    display: grid;
    grid-template-columns: 10vw 16vw auto 26vw;
    grid-template-rows: 2rem;
    grid-template-areas: 
        "home-page github title old-web-page";
    position: sticky;
    background-color: #425339;
    color: #ededed;
    padding: 1.2rem;
    padding-left: 0;
    padding-right: 0;
}

#menu a {
    background-color: #425339;
}

#menu a:link {
    color: #ededed;
    text-decoration: none;
}
#menu a:visited {
    color: #ededed;
}
#menu a:focus {
    border: 1px solid black;
}
#menu a:hover {
    color: #b8b8b8;
}
#menu a:active {
    color: #ededed;
}

#intro {
    background-color: #4f6344;
    color: #ededed;
    padding: 1rem;
}